:root {
  --primary-logo-color: #000000;
  --primary-txt-color: #212121;
  --secondary-txt-color: #757575;
  --additional-txt-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --additional-bg-color: #2f303a;
  --accent-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-bg-color);
}

/* COMMON */
.list {
  list-style: none;
}

.current {
  color: var(--accent-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-logo-color);
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

/* SITE NAV */

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-txt-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
  text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* HERO */

.hero {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  padding-top: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.34px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--additional-txt-color);
  background-color: var(--accent-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-txt-color);
}

/* FEATURES */

.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-txt-color);
}

.features .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-color);
}

/* TEAM */

.team-section {
  background-color: var(--secondary-bg-color);
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-txt-color);
}

.team .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-color);
}

/* FOOTER */
.footer {
  background-color: var(--additional-bg-color);
}

.footer .logo {
  color: var(--additional-txt-color);
}

.footer-contacts {
  font-style: normal;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--additional-txt-color);
}

.footer .contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
  text-decoration: none;
}

/* PORTFOLIO */

.select-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-txt-color);
  background-color: var(--secondary-bg-color);
}

.select-btn:hover,
.select-btn:focus {
  color: var(--additional-txt-color);
  background-color: var(--accent-color);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-txt-color);
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-color);
}

.projects .link {
  text-decoration: none;
}
